*{
    /* box-sizing: border-box;  */
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#h2{
   text-align: center; 
}
#navmain{
    position: sticky;
    top: 1px;
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: orangered;
    height: 40px;
    width: 1000;
    padding-top: 13px;
    text-align: center;
    list-style: none;
    font-size: 20px;
    /* margin-left: 50px; */

}

.container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    margin-left: 85rem;
    margin-top: 1px;
    /* position: sticky;
    top: 1px; */
    /* margin: 0px 5px 10px 1400px ; */
  }
  .container:hover{
    transform: scale(1.5);
    /* background-color: blue; */
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }


#pInfo{
    /* position: sticky;
    top: 1px; */
}
#home{
    margin: 20px;
    margin-top: 3px;
}
#home,a{
    color: black;
    text-decoration: none;
}
#nav li a:hover,#nav li a#home{
    text-decoration: black underline;

}
.border{
    margin-right: 20px; ;
}
li:hover{
    transform: scale(0.9);
}
#bordermain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    box-shadow: 1px 5px 6px rgb(107, 17, 192);   
}
#main{
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 800px;
    height: 1000px;
    font-size: 22px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */

    /* #city,#statepostcode,#number,#email */
}
#main1,#main2,#main3,#main4,#main5{
    display: flex;
    margin: 10px;
}
#name,#lname,#dob{              
    
    width: 200px;
    height: 30px;
    border: 1px solid black;
    margin: 5px;
    padding: 3px;
}
#address,#streetadd{
    width: 664px;
    height: 30px;
    border: 1px solid black;
    margin: 5px;
    padding: 3px;
    margin-left: 0px;
    margin-bottom: 0px;
    
    /* display: flex; */
    /* flex-direction: column; */
     
}
#city,#state,#postcode{
    width: 200px;
    height: 30px;
    border: 1px solid black;
    margin: 5px;
    padding: 3px;
}
#number,#email{
    width: 300px;
    height: 30px;
    border: 1px solid black;
    margin: 5px;
    padding: 3px;
}
#myfName{
    margin-left: 50px;
}
#mylName{
    margin-left: 2px;
}
#myDob{
    margin-left: 16px;
}
#myAdd{
    margin-left: 50px;
}
#mystreetAdd{
    margin-left: 50px;
}
#myCity{
margin-left: 50px;
}
#myState{
    margin-left: 9px;
}
#myPostal{
    margin-left: 9px;
}
#myNumber{
    margin-left: 50px;
}
#myEmail{
    margin-left: 40px;
}
#main6{
    padding-top: 10px;
    align-items: center;
    margin-left: 150px;
}
#myImage{
    /* background-color: rgb(118, 62, 115); */
    width: 500px;
    height: 4s00px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;

}
#igbtn{
   width: auto;
   height: auto;
   border: 2px solid black;
    background-color: rgb(15, 33, 33);
    display: flex;
    flex-direction: column;
    justify-content: end;

}
#submitbtn{
    margin-left: 28.5rem;
}
#previewimg{
    width: 500px;
    height: 300px;
    margin-top: 0px;
}
#myBtn{
    text-align: center;
    margin-top: 60px;
}
#btn{
    font-size: 25px;
    color: white;
    border-color: rgb(27, 194, 97);
    width: 200px;
    margin: 6px;
    padding: 5px;
    background-color: rgb(27, 194, 97);
    cursor: pointer;
}
#btn:hover{
    color: rgb(50, 8, 8);
    background-color: rgb(22, 182, 88);
    /* .zoom:hover { */
        transform: scale(1.2);
}



