body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#header{
    /* margin-top: 30px;
    padding-top: 30px; */
    /* background-color: blue; */
    color: brown;
}
.btn{
    font-size: large;
    font-weight: 300;
    height: 45px;
    width: 120px;
    color: blue;
    border-radius: 20px;
}
